<div class="container col-md-12" id="contenedor">
    <ngb-carousel #carousel id="carrusel">
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="../../assets/images/slice1.jpg" alt="Img 1">
        </div>        
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="../../assets/images/slice2.jpg" alt="Img 2">
        </div>        
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="../../assets/images/slice3.png" alt="Img 3">
        </div>        
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="../../assets/images/silce4.jpg" alt="Img 4">
        </div>        
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="../../assets/images/slice5.jpg" alt="Img 5">
        </div>        
      </ng-template>
</ngb-carousel>
